<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Книги</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/font-awesome.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" />
</head>
<body>

<div class="admin-main">
    <h3>Административный раздел</h3>
    <ul class="admin-menu">
        <li class="admin-menu-item">
            <span class="fa fa-users admin-menu-item-ico"></span>
            <a class="admin-menu-item-link" href="/admin/users">Книги</a>
        </li>
        <li class="admin-menu-item">
            <span class="fa fa-users admin-menu-item-ico"></span>
            <a class="admin-menu-item-link" href="/authors">Авторы</a>
        </li>
        <li class="admin-menu-item">
            <span class="fa fa-users admin-menu-item-ico"></span>
            <a class="admin-menu-item-link" href="/admin/users">Жанры</a>
        </li>
    </ul>
</div>

</body>
</html>