<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Книги</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div class="main">
    <ul class="menu">
        <li class="menu-item">
            <a class="menu-item-link" href="/books">Книги</a>
        </li>
        <li class="menu-item">
            <a class="menu-item-link" href="/authors">Авторы</a>
        </li>
        <li class="menu-item">
            <a class="menu-item-link" href="/genres">Жанры</a>
        </li>
    </ul>
</div>

</body>
</html>